<!DOCTYPE html> 
<html> 

<head> 
<title>Advent calendar</title> 
</head> 

<body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script> 

<script type="text/javascript" src="script2.js"></script>

<style>

.door {
	width: 200px;
	height: 121px;
}

.shutDoor {
    display:block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.openDoor {
    display:block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

iframe {
    display:block;
    height: 100%;
    width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

</style>

<div id="container" ng-app="adventCalendar" ng-controller="AdventCalendarController" ng-init="loadData()">
Before doors
<div class="door" ng-repeat="door in doors">
	<div class="shutDoor" ng-hide="door.opened" ng-click="openDoor(door.day)">
		{{door.day}}
	</div>
	<div class="openDoor" ng-show="door.opened">
		<iframe src="{{getVideoUrl(door.day)}}" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</div>
</div>
After doors
</div>

</body>

</html> 