<!DOCTYPE html> 
<html> 
  
<head> 
<title>Advent calendar</title> 
</head> 
  
<body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script> 

<script type="text/javascript"> 

const cookieName = 'adventCalendar';

(function(angular) {
  'use strict';
angular.module('adventCalendar', ['ngCookies'])
.controller('AdventCalendarController', ['$sce', '$cookies',

function($scope, $window, $sce, $cookies) {

$scope.doors = [
{day:1,
 url:'https://www.youtube.com/embed/nn5ken3RJBo',
 opened:false},
{day:2,
 url:'https://www.youtube.com/embed/U_Tux6tixN0',
 opened:false},
{day:3,
 url:'https://www.youtube.com/embed/7qYeZcOioI',
 opened:false}
];

$scope.loadData = function() {
	var alreadyOpened = $cookies.get(cookieName);
	
	console.log("alreadyOpened = " + alreadyOpened);
	
	if (alreadyOpened) {
		var openedDoors = alreadyOpened.split(",");
		
		angular.forEach(openedDoors, function(d) {
			$scope.doors[d-1].opened = true;
		});
	}
};

$scope.extractOpenDoorNumbers = function () {
	var openedDoors = [];
	
	angular.forEach($scope.doors, function(d) {
		if (d.opened) {
			openedDoors.push(d.day);
		}
	});
	
	var result = openedDoors.join();
	
	return result;
}

$scope.openDoor = function(dayNum) {

	// wombat put something in here to check that this door isn't for the future

	$scope.doors[dayNum-1].opened = true;
	var allOpenedDoors = $scope.extractOpenDoorNumbers();
	
	console.log("opened doors = " + allOpenedDoors);
	
	var expireDate = new Date();
	expireDate.setDate(expireDate.getDate() + 365);
  
  	$cookies.put(cookieName, allOpenedDoors, {'expires': expireDate});
};

$scope.getUrl = function(dayNum) {
	return $sce.trustAsResourceUrl($scope.doors[dayNum-1].url);
};

}]);
})(window.angular);

</script>

<div id="container" ng-app="adventCalendar" ng-controller="AdventCalendarController" ng-init="loadData()">

<p>Before doors</p>

<div height="315" width="420" ng-repeat="door in doors">
	<div ng-hide="door.opened" ng-click="openDoor(door.day)">
		{{door.day}}
	</div>
	<iframe ng-show="door.opened" ng-src="{{getURL(door.day)}}">
	</iframe> 
</div>

<p>After doors</p>

</div>

</body>


</html>