<!DOCTYPE html> 
<html> 

<head> 
<title>Advent calendar</title> 
</head> 

<body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script> 

<script type="text/javascript" src="script2.js"></script>

<div id="container" ng-app="adventCalendar" ng-controller="AdventCalendarController" ng-init="loadData()">
Before doors
<div ng-repeat="door in doors">
	<div ng-hide="door.opened" ng-click="openDoor(door.day)">
		{{door.day}}
	</div>
	<div ng-show="door.opened">
		{{door.text}}
		<iframe width="560" height="315" src="{{getVideoUrl(door.day)}}" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</div>
</div>
After doors
</div>

<!--

<iframe width="560" height="315"
		src="https://www.youtube.com/embed/nn5ken3RJBo"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen>
</iframe>


-->


</body>


</html> 