<!DOCTYPE html> 
<html> 
  
<head> 
<title>Advent calendar</title> 
</head> 
  
<body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script> 

<script type="text/javascript"> 

const cookieName = 'adventCalendar';

// https://www.geeksforgeeks.org/how-to-set-get-and-clear-cookies-in-angularjs/

(function(angular) {
  'use strict';
angular.module('adventCalendar', ['ngCookies']).controller('AdventCalendarController',
function($scope, $window, $cookies) {

$scope.doors = [
{day:1,
 text:'apple',
 opened:false},
{day:2,
 text:'banana',
 opened:false},
{day:3,
 text:'cherry',
 opened:false}
];

$scope.loadData = function() {
	var alreadyOpened = $cookies.get(cookieName);
	
	console.log("alreadyOpened = " + alreadyOpened);
	
	if (alreadyOpened) {
		var openedDoors = alreadyOpened.split(",");
		
		angular.forEach(openedDoors, function(d) {
			$scope.doors[d-1].opened = true;
		});
	}
};

$scope.extractOpenDoorNumbers = function () {
	var openedDoors = [];
	
	angular.forEach($scope.doors, function(d) {
		if (d.opened) {
			openedDoors.push(d.day);
		}
	});
	
	var result = openedDoors.join();
	
	return result;
}

$scope.openDoor = function(dayNum) {

	// wombat put something in here to check that this door isn't for the future

	$scope.doors[dayNum-1].opened = true;
	var allOpenedDoors = $scope.extractOpenDoorNumbers();
	
	console.log("opened doors = " + allOpenedDoors);
	
	var expireDate = new Date();
	expireDate.setDate(expireDate.getDate() + 365);
  
  	$cookies.put(cookieName, allOpenedDoors, {'expires': expireDate});
};

});
})(window.angular);

</script>

<div id="container" ng-app="adventCalendar" ng-controller="AdventCalendarController" ng-init="loadData()">
Before doors
<div ng-repeat="door in doors">
	<div ng-hide="door.opened" ng-click="openDoor(door.day)">
		{{door.day}}
	</div>
	<div ng-show="door.opened">
		{{door.text}}
	</div>
</div>
After doors
</div>

</body>


</html>